// FONT IMPORT
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400;1,700&display=swap');

// CSS RESET
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

input, button, textarea, select {
  font: inherit;
}

ol, ul {
	list-style: none;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
}

// Project Start
body {
  min-height: 100vh;
  background-color: #F0F0F0;
  display: grid; 
  place-content: center;
  font-family: "Poppins", sans-serif;
}

.hero {
  background-color: #FFFFFF;
  border-radius: 24px 24px 100px 24px;
  max-width: 343px;
  padding: 48px 24px;
}

.form__group {
  border: 0;
  max-width: 100%;
  display: flex;
  gap: 16px;
}

.form__input-box {
  display: flex;
  flex-direction: column;
  max-width: 87px;
  label {
    text-transform: uppercase;
    font-weight: 700;
    color: #716F6F;
    font-size: 0.75rem;
    letter-spacing: 3px;
    margin-bottom: 4px;
  }
  input {
    padding: 12px 0 12px 16px;
    border-radius: 8px;
    border: 1px solid #DCDCDC;
    font-size: 20px;
    font-weight: 700;
  }
}

