// IMPORTS
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,400;1,800&display=swap');

@import 'utilities';

// CSS RESET
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

input, button, textarea, select {
  font: inherit;
}

ol, ul {
	list-style: none;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
}

// Project Start
body {
  min-height: 100vh;
  background-color: $neutral-2;
  display: grid; 
  place-content: center;
  font-family: "Poppins", sans-serif;
}

.hero {
  background-color: $neutral-1;
  border-radius: 24px 24px 100px 24px;
  max-width: 21.4375rem;
  padding: 3rem 1.5rem;
  @include device(desktop) {
    max-width: 52.5rem;
    width: 52.5rem;
    padding: 3.5rem;
    border-radius: 24px 24px 200px 24px;
  }
}

.hero__form {
  border-bottom: 1px solid #DCDCDC;
  position: relative;
  padding-bottom: 3.9688rem;
  margin-bottom: 3.9688rem;
}

.form__group {
  border: 0;
  max-width: 100%;
  display: flex;
  gap: 1rem;
  @include device(desktop) {
    gap: 2rem;
  }
}

.form__input-box {
  display: flex;
  flex-direction: column;
  max-width: 5.4375rem;
  label {
    text-transform: uppercase;
    font-weight: 700;
    color: $neutral-3;
    font-size: map-get($fonts, "$small1" );
    letter-spacing: 3px;
    margin-bottom: 0.25rem;
    @include device(desktop) {
      font-size: map-get($fonts, "$small2" );
    }
  }
  input {
    padding: 0.75rem 0 0.75rem 1rem;
    border-radius: 8px;
    border: 1px solid #DCDCDC;
    font-size: map-get($fonts, "$medium1");
    font-weight: 700;
    cursor: pointer;
    &:focus {
      outline-color: $primary-1;
      
    }
    @include device(desktop) {
      font-size: map-get($fonts, "$medium2");
      padding: 0.75rem 0 0.75rem 1.5rem;
    }
  }
  @include device(desktop) {
    max-width: 10rem;
  }
}

.form__btn {
  position: absolute;
  background-color: $primary-1;
  border-radius: 50%;
  padding: 1.25rem;
  bottom: -2rem;
  left: 50%;
  transform: translateX(-50%);
  &:hover {
    background-color: $neutral-4;
    cursor: pointer;
  }
  .btn__img {
    max-width: 1.5rem;
    aspect-ratio: 1;
    @include device(desktop) {
      max-width: 2.75rem;
    }
  }
  @include device(desktop) {
    right: 0;
    left: initial;
    transform: initial;
    padding: 1.625rem;
    bottom: -3rem;
  }
}

.hero__result {
  font-size: map-get($fonts, "$large1" );
font-style: italic;
font-weight: 800;
line-height: 1.1;
@include device(desktop) {
  font-size: map-get($fonts, "$large2" );
}
}

.result__number {
color: $primary-1;
}

